<% layout('player_layout') -%>
      <h1>RabbitMQ Tutorials</h1>
      <div class="row">
        <h2>Consumers and Producers</h2>
        <div id="sim" class="span12">

	  <canvas id="t1_s1" data-processing-sources="js/Simulator.pde"
		  width="1600" height="800">
	    <p>Your browser does not support the canvas tag.</p>
	  </canvas>
	  <noscript>
	    <p>JavaScript is required to view the contents of this page.</p>
	  </noscript>
        </div>
      </div>
      <div class="row">
        <h2>RabbitMQ Publish/Subscribe</h2>
        <div id="sim" class="span12">

	  <canvas id="t1_s2" data-processing-sources="js/Simulator.pde"
		  width="1600" height="800">
	    <p>Your browser does not support the canvas tag.</p>
	  </canvas>
	  <noscript>
	    <p>JavaScript is required to view the contents of this page.</p>
	  </noscript>

        </div>
      </div>
